@using S_Blazor_TDApp.Client.Pages
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager navigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        navigationManager.NavigateTo("/");
                    }
                    else
                    {
                        <div class="alert alert-danger shadow-sm m-3">
                            <i class="bi bi-info-circle me-2"></i>No esta <b>autorizado</b> para ver esta pagina o no ha iniciado sesión correctamente.
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-danger shadow-sm m-3">
                    <i class="bi bi-info-circle me-2"></i>No ha iniciado sesión correctamente. <b><a href="/" class="alert-link">Volver al inicio</a></b>.
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>