@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div class="bg-dark text-light">
    <div class="top-row navbar navbar-dark">
        <div class="container-fluid px-4">
            <a class="navbar-brand" href="registroProcesos">
                <img src="/Logo_30x30.png" alt="L" width="30" height="30" class="textIcon me-2 rounded-image">
                @if (!Collapse)
                {
                    <span class="brand-text">Task Management</span>
                }
            </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenuMobile">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@GetNavMenuCssClass() nav-scrollable">
        <nav class="flex-column">

            @* Se utiliza AuthorizeView Roles, para que puedan ver los menús los usuarios con esos roles *@
            <AuthorizeView Roles="Administrador, Supervisor, Empleado">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="registroProcesos" Match="NavLinkMatch.All">
                            <span aria-hidden="true">
                                <i class="bi bi-house-gear-fill"></i>
                            </span>
                            <span>Procesos</span>
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="tareasRecurrentes">
                            <span aria-hidden="true">
                                <i class="bi bi-list-task"></i>
                            </span>
                            <span>Recurrentes</span>
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="tareasDias">
                            <span aria-hidden="true">
                                <i class="bi bi-calendar3"></i>
                            </span>
                            <span>Disponibilidad</span>
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="tareasCalendario">
                            <span aria-hidden="true">
                                <i class="bi bi-calendar2-range-fill"></i>
                            </span>
                            <span>Calendario</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            
            <AuthorizeView Roles="Administrador, Supervisor">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="usuarios">
                            <span aria-hidden="true">
                                <i class="bi bi-people-fill"></i>
                            </span>
                            <span>Usuarios</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            @* No es necesario a menos que se implemente una logica para que el usuario (Administrador) pueda cambiar -
               los permisos de los roles dinamicamente desde el frontend *@

            @* <AuthorizeView Roles="Administrador">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="rolesPermisos">
                            <span aria-hidden="true">
                                <i class="bi bi-person-fill-gear"></i>
                            </span>
                            <span>Roles y Permisos</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView> *@

            <!-- Botón para colapsar/expandir el sidebar - solo visible en desktop -->
            <div class="nav-item px-3 mt-auto desktop-only">
                <span aria-hidden="true" class="nav-link toggle-link" title="Toggle sidebar" @onclick="ToggleNavMenu">
                    <i class="bi @(Collapse ? "bi-arrow-bar-right" : "bi-arrow-bar-left")"></i>
                    <span>@(Collapse ? "Expandir" : "Contraer")</span>
                </span>
            </div>
        </nav>
    </div>
</div>

@code {
    [Parameter]
    public bool Collapse { get; set; }

    [Parameter]
    public EventCallback<bool> CollapseChanged { get; set; }

    // Variable para controlar el estado del menú móvil
    private bool mobileMenuCollapsed = true;

    // Método para obtener la clase CSS del menú
    private string GetNavMenuCssClass() =>
        mobileMenuCollapsed ? "collapse" : string.Empty;

    private void ToggleNavMenu()
    {
        Collapse = !Collapse;
        CollapseChanged.InvokeAsync(Collapse);
    }

    private void ToggleNavMenuMobile()
    {
        mobileMenuCollapsed = !mobileMenuCollapsed;
    }

    // Se registra el listener para el evento resize de la ventana
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Registra el listener de resize y pasa la referencia del componente
            await JS.InvokeVoidAsync("addResizeListener", DotNetObjectReference.Create(this));
        }
    }

    // Método invocable desde JavaScript cuando se produce un cambio de tamaño
    [JSInvokable]
    public Task OnResize(int width)
    {
        // Umbral para considerar que es vista móvil (por ejemplo, menor a 641px)
        if (width < 641 && Collapse)
        {
            Collapse = false;
            CollapseChanged.InvokeAsync(Collapse);
            StateHasChanged();
        }
        return Task.CompletedTask;
    }
}